.iv-slideBox{position:relative;overflow:hidden;}
.iv-slideBox ul,li,img{list-style:none;border:0;margin:0;padding:0;}
.iv-slideBox .iv-slideBox-page{position:absolute;bottom:10px;right:10px;z-index:999;}
.iv-slideBox .iv-slideBox-page li{float:left;margin:5px;padding:2px;border:1px solid #ccc;cursor:pointer;background:#fff;color:#00317d;}
.iv-slideBox .iv-slideBox-page span{display:block;padding:1px 5px;}
.iv-slideBox .iv-slideBox-page .iv-i{display:block;width:50px;height:50px;}
.iv-slideBox .iv-slideBox-page img{width:50px;height:50px;}
.iv-slideBox .iv-slideBox-current-page{background:#0159D4;font-weight:bold;color:#FFF;}